
#container{
    #row{
        img{
            width: 380px;
            height: 400px;
            border-radius: 15%;
        }
    }
}
  
 .navbar{
    
    width: 100%;
    padding: 0px;
    margin: 0px;
 

.collapse {
    background-color: black;
    
  
    .navbar-nav{
         
        
        .nav-item{
           
      
            .nav-link{
                color: white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 20px;
                text-transform: uppercase;
                margin-top: 10px;
            }
            
        }

    }

}}


 
.section{
    .home-content{
        .home-text{
            h2{
                text-align: center;
                font-size: 30px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       padding: 30px;
                #p{
           
                    font-size: 30px;
                }
            }
        }
    }
}
.container mt-5{
    .row{
        background-color: aqua;
    }
}
 
#form{
    height: 300px;width: 400px;margin-left: 300px; margin-top: 50px;
}
